################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/x64/Debug/
KEX-tracer.vcxproj
/x64/Debug/vc143.pdb
/x64/Debug/vc143.idb
/x64/Debug/VBO.obj
/x64/Debug/VAO.obj
/x64/Debug/Model.obj
/x64/Debug/Main.obj
/x64/Debug/Mesh.obj
/x64/Debug/KEX-tracer.pdb
/x64/Debug/KEX-tracer.log
/x64/Debug/KEX-tracer.ilk
/x64/Debug/KEX-tracer.exe
/x64/Debug/glad.obj
/x64/Debug/EBO.obj
/x64/Debug/KEX-tracer.tlog/CL.command.1.tlog
/x64/Debug/KEX-tracer.tlog/CL.read.1.tlog
/x64/Debug/KEX-tracer.tlog/CL.write.1.tlog
/x64/Debug/KEX-tracer.tlog/link.read.1.tlog
/x64/Debug/KEX-tracer.tlog/link.write.1.tlog
/x64/Debug/KEX-tracer.tlog/Cl.items.tlog
/x64/Debug/KEX-tracer.tlog/link.command.1.tlog
/x64/Debug/Camera.obj
/x64/Debug/shaderClass.obj
/x64/Debug/Texture.obj
/x64/Debug/Scene.obj
/x64/Debug/stb.obj
/out/build/x64-Debug/.cmake/api/v1/reply
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS
/out/build/x64-Debug/bin
/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdC
/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdCXX
/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4
/out/build/x64-Debug/CMakeFiles/KEXtracer.dir/src
*.manifest
*.rc
/out/build/x64-Debug/CMakeFiles/KEXtracer.dir/manifest.res
/out/build/x64-Debug/CMakeFiles/KEXtracer.dir/vc140.pdb
/out/build/x64-Debug/CMakeFiles/VCT.dir/vc140.pdb
/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/out/build/x64-Debug/CMakeFiles/CMakeConfigureLog.yaml
/out/build/x64-Debug/CMakeFiles/rules.ninja
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/.ninja_deps
/out/build/x64-Debug/.ninja_log
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/VSInheritEnvironments.txt
/out/build/x64-Release
/Models/Sponza
/out/build/x64-Debug/CMakeFiles/KEXtracer.dir/Libraries/include/glad/glad.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/context.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/glfw.pdb
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/init.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/input.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/monitor.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/wgl_context.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/win32_init.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/win32_time.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/win32_tls.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/win32_window.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/window.c.obj
/out/build/x64-Debug/Libraries/lib/glfw/src/CMakeFiles/glfw.dir/winmm_joystick.c.obj
